.form {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.4rem;
	background-color: var(--font-light);
  font-size: 1.2rem;
  margin: 1rem 0 1rem;
}

.img   {
	background-color: var(--font-light);
	border: none;
	margin: 0.1rem;
  margin-right: 0.5rem;
	width: 1.5rem;
	
}

.input {
	font-family: Sono, sans-serif;
	width: 100%;
	border:none;
	border-radius: 0.4rem;
  outline:none
}
