@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bg-color: #2e2d2d;
	--font-light: white;
	--font-dark: #020202;
	--font-grey: #545252;
	--bg-btn: #3c3b3b;
	--hover: #fb651e;
}

.App {
	font-weight: 400;
}

.header {
	font-family: Sono, sans-serif;
	width: 100%;
	background-color: var(--bg-color);
	color: var(--font-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link:hover,
.link:focus {
	color: var(--hover);
}

.logo {
	width: 50px;
	margin: 1rem;
}

.list {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 1rem;
}

.btn {
	font-family: Sono, sans-serif;
	padding: 0.5rem 1rem;
	background-color: var(--bg-btn);
	color: var(--font-light);
	font-size: 1rem;
	cursor: pointer;
	margin: 1rem;
}

.btn:hover,
.btn:focus {
	background-color: var(--hover);
	color: var(--font-light);
}

.main {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1rem;
	margin: auto;
}

.article {
	font-family: 'Sono', sans-serif;
	color: var(--font-dark);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 1px solid var(--hover);
	flex: 1 1 max-content;
}

.upvote {
	width: 1rem;
	margin-right: 0.5rem;
	border: none;
}

a:-webkit-any-link {
	font-family: Sono, sans-serif;
	/* font-family: 'Noto Sans', sans-serif; */
	text-decoration: none;
	color: var(--font-grey);
	padding: 0.5rem;
}

.article-link {
	color: var(--font-grey);
	font-style: italic;
}

.article-title {
	font-family: Sono, sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	flex: 1;
	padding: 0.5rem;
}
.footer {
	font-family: Sono, sans-serif;
	background-color: var(--bg-color);
	color: var(--font-light);
	padding: 1rem;
}

img {
	width: 2rem;
	border: 1px solid var(--hover);
	border-right: none;
}

.form {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.form input {
	font-family: Sono, sans-serif;
	width: 100%;
	margin: 1rem 0 1rem;
	padding: 0.5rem;
	border: 1px solid var(--hover);
	border-left: none;
}
